<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar2"></nav>
<div class="container">
    <div class="jumbotron">
        <h1>Insecure Page</h1>
        <p><a class="btn btn-primary btn-lg" href="/secure" role="button">Go to Secure Page</a>
        </p>
    </div>
</div>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>
