<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<h1>Add Task</h1>
<form  action="#" th:action="@{/process2}"
th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}" />
<mark><strong>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}">Task Error</span>
    <textarea id="description" placeholder="Task"
           th:field="*{description}"
    row="3"/><br />
</strong></mark>
    <button type="submit" class="btn bnt-default">Submit</button>
</form>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>